<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Biblioteka</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Biblioteka
        <br />
        <h:link outcome="/ksiazka/List" value="Książki"/>
        <br />
        <h:link outcome="/rezerwacja/List" value="Rezerwacje"/>
        <br />
        <h:link outcome="/wypozyczenie/List" value="Wypożyczenia"/>
        <br />
        <h:link outcome="/autor/List" value="Autorzy" rendered="#{sessionScope.typeID == 1}"/>
        <br />
        <h:link outcome="/autorksiazka/List" value="AutorKsiążka" rendered="#{sessionScope.typeID == 1}"/>
        <br />
        <h:link outcome="/typ/List" value="Typy Użytkowników" rendered="#{sessionScope.typeID == 1}"/>
        <br />
        <h:link outcome="/uzytkownik/List" value="Użytkownicy" rendered="#{sessionScope.typeID == 1}"/>
    </h:body>







</html>

