<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Logowanie</title>
    </h:head>
    <h:body>
    <h:form>
        <h3>Logowanie</h3>
        <h:outputText value="Login:" />
        <h:inputText id="username" value="#{logowanie.user}"></h:inputText>
        <h:message for="username"></h:message>
        <br /><br />
         
        <h:outputText value="Hasło:" />
        <h:inputSecret id="password" value="#{logowanie.pwd}"></h:inputSecret>
        <h:message for="password"></h:message>
        <br /><br />
         
        <h:commandButton action="#{logowanie.validateUsernamePassword}"
            value="Zaloguj"></h:commandButton>
    </h:form>
</h:body>
</html>

