<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorCreateDlg" widgetVar="AutorCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAutorTitle}">
            <h:form id="AutorCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAutorLabel_imie}" for="imie" />
                        <p:inputText id="imie" value="#{autorController.selected.imie}" title="#{bundle.CreateAutorTitle_imie}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_imie}"/>
                        <p:outputLabel value="#{bundle.CreateAutorLabel_nazwisko}" for="nazwisko" />
                        <p:inputText id="nazwisko" value="#{autorController.selected.nazwisko}" title="#{bundle.CreateAutorTitle_nazwisko}" required="true" requiredMessage="#{bundle.CreateAutorRequiredMessage_nazwisko}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autorController.create}" value="#{bundle.Save}" update="display,:AutorListForm:datalist,:growl" oncomplete="handleSubmit(args,'AutorCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AutorCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
