<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TypCreateDlg" widgetVar="TypCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTypTitle}">
            <h:form id="TypCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{typController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTypLabel_nazwa}" for="nazwa" />
                        <p:inputText id="nazwa" value="#{typController.selected.nazwa}" title="#{bundle.CreateTypTitle_nazwa}" required="true" requiredMessage="#{bundle.CreateTypRequiredMessage_nazwa}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{typController.create}" value="#{bundle.Save}" update="display,:TypListForm:datalist,:growl" oncomplete="handleSubmit(args,'TypCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TypCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
