<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TypViewDlg" widgetVar="TypViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTypTitle}">
            <h:form id="TypViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{typController.selected != null}">
                        <h:outputText value="#{bundle.ViewTypLabel_id}"/>
                        <h:outputText value="#{typController.selected.id}" title="#{bundle.ViewTypTitle_id}"/>
                        <h:outputText value="#{bundle.ViewTypLabel_nazwa}"/>
                        <h:outputText value="#{typController.selected.nazwa}" title="#{bundle.ViewTypTitle_nazwa}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TypViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
