<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UzytkownikCreateDlg" widgetVar="UzytkownikCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUzytkownikTitle}">
            <h:form id="UzytkownikCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{uzytkownikController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_imie}" for="imie" />
                        <p:inputText id="imie" value="#{uzytkownikController.selected.imie}" title="#{bundle.CreateUzytkownikTitle_imie}" required="true" requiredMessage="#{bundle.CreateUzytkownikRequiredMessage_imie}"/>
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_nazwisko}" for="nazwisko" />
                        <p:inputText id="nazwisko" value="#{uzytkownikController.selected.nazwisko}" title="#{bundle.CreateUzytkownikTitle_nazwisko}" required="true" requiredMessage="#{bundle.CreateUzytkownikRequiredMessage_nazwisko}"/>
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_haslo}" for="haslo" />
                        <p:inputText id="haslo" value="#{uzytkownikController.selected.haslo}" title="#{bundle.CreateUzytkownikTitle_haslo}" required="true" requiredMessage="#{bundle.CreateUzytkownikRequiredMessage_haslo}"/>
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_email}" for="email" />
                        <p:inputText id="email" value="#{uzytkownikController.selected.email}" title="#{bundle.CreateUzytkownikTitle_email}" required="true" requiredMessage="#{bundle.CreateUzytkownikRequiredMessage_email}"/>
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_telefon}" for="telefon" />
                        <p:inputText id="telefon" value="#{uzytkownikController.selected.telefon}" title="#{bundle.CreateUzytkownikTitle_telefon}" required="true" requiredMessage="#{bundle.CreateUzytkownikRequiredMessage_telefon}"/>
                        <p:outputLabel value="#{bundle.CreateUzytkownikLabel_typID}" for="typID" />
                        <p:selectOneMenu id="typID" value="#{uzytkownikController.selected.typID}" required="true" requiredMessage="#{bundle.EditUzytkownikRequiredMessage_typID}">
                            <f:selectItems value="#{typController.itemsAvailableSelectOne}"
                                           var="typIDItem"
                                           itemValue="#{typIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{uzytkownikController.create}" value="#{bundle.Save}" update="display,:UzytkownikListForm:datalist,:growl" oncomplete="handleSubmit(args,'UzytkownikCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UzytkownikCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
