<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UzytkownikViewDlg" widgetVar="UzytkownikViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewUzytkownikTitle}">
            <h:form id="UzytkownikViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{uzytkownikController.selected != null}">
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_id}"/>
                        <h:outputText value="#{uzytkownikController.selected.id}" title="#{bundle.ViewUzytkownikTitle_id}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_imie}"/>
                        <h:outputText value="#{uzytkownikController.selected.imie}" title="#{bundle.ViewUzytkownikTitle_imie}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_nazwisko}"/>
                        <h:outputText value="#{uzytkownikController.selected.nazwisko}" title="#{bundle.ViewUzytkownikTitle_nazwisko}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_haslo}"/>
                        <h:outputText value="#{uzytkownikController.selected.haslo}" title="#{bundle.ViewUzytkownikTitle_haslo}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_email}"/>
                        <h:outputText value="#{uzytkownikController.selected.email}" title="#{bundle.ViewUzytkownikTitle_email}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_telefon}"/>
                        <h:outputText value="#{uzytkownikController.selected.telefon}" title="#{bundle.ViewUzytkownikTitle_telefon}"/>
                        <h:outputText value="#{bundle.ViewUzytkownikLabel_typID}"/>
                        <h:outputText value="#{uzytkownikController.selected.typID}" title="#{bundle.ViewUzytkownikTitle_typID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="UzytkownikViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
