<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KsiazkaCreateDlg" widgetVar="KsiazkaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateKsiazkaTitle}">
            <h:form id="KsiazkaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ksiazkaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_isbn}" for="isbn" />
                        <p:inputText id="isbn" value="#{ksiazkaController.selected.isbn}" title="#{bundle.CreateKsiazkaTitle_isbn}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_isbn}"/>
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_tytul}" for="tytul" />
                        <p:inputText id="tytul" value="#{ksiazkaController.selected.tytul}" title="#{bundle.CreateKsiazkaTitle_tytul}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_tytul}"/>
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_edycja}" for="edycja" />
                        <p:inputText id="edycja" value="#{ksiazkaController.selected.edycja}" title="#{bundle.CreateKsiazkaTitle_edycja}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_edycja}"/>
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_rok}" for="rok" />
                        <p:inputText id="rok" value="#{ksiazkaController.selected.rok}" title="#{bundle.CreateKsiazkaTitle_rok}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_rok}"/>
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_strony}" for="strony" />
                        <p:inputText id="strony" value="#{ksiazkaController.selected.strony}" title="#{bundle.CreateKsiazkaTitle_strony}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_strony}"/>
                        <p:outputLabel value="#{bundle.CreateKsiazkaLabel_opis}" for="opis" />
                        <p:inputText id="opis" value="#{ksiazkaController.selected.opis}" title="#{bundle.CreateKsiazkaTitle_opis}" required="true" requiredMessage="#{bundle.CreateKsiazkaRequiredMessage_opis}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ksiazkaController.create}" value="#{bundle.Save}" update="display,:KsiazkaListForm:datalist,:growl" oncomplete="handleSubmit(args,'KsiazkaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="KsiazkaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
