<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KsiazkaEditDlg" widgetVar="KsiazkaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditKsiazkaTitle}">
            <h:form id="KsiazkaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ksiazkaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_isbn}" for="isbn" />
                        <p:inputText id="isbn" value="#{ksiazkaController.selected.isbn}" title="#{bundle.EditKsiazkaTitle_isbn}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_isbn}"/>
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_tytul}" for="tytul" />
                        <p:inputText id="tytul" value="#{ksiazkaController.selected.tytul}" title="#{bundle.EditKsiazkaTitle_tytul}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_tytul}"/>
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_edycja}" for="edycja" />
                        <p:inputText id="edycja" value="#{ksiazkaController.selected.edycja}" title="#{bundle.EditKsiazkaTitle_edycja}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_edycja}"/>
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_rok}" for="rok" />
                        <p:inputText id="rok" value="#{ksiazkaController.selected.rok}" title="#{bundle.EditKsiazkaTitle_rok}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_rok}"/>
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_strony}" for="strony" />
                        <p:inputText id="strony" value="#{ksiazkaController.selected.strony}" title="#{bundle.EditKsiazkaTitle_strony}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_strony}"/>
                        <p:outputLabel value="#{bundle.EditKsiazkaLabel_opis}" for="opis" />
                        <p:inputText id="opis" value="#{ksiazkaController.selected.opis}" title="#{bundle.EditKsiazkaTitle_opis}" required="true" requiredMessage="#{bundle.EditKsiazkaRequiredMessage_opis}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{ksiazkaController.update}" value="#{bundle.Save}" update="display,:KsiazkaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'KsiazkaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="KsiazkaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
