<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListKsiazkaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="KsiazkaListForm">
                <p:panel header="#{bundle.ListKsiazkaTitle}">
                    <p:dataTable id="datalist" value="#{ksiazkaController.items}" var="item"
                                 selectionMode="single" selection="#{ksiazkaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_isbn}"/>
                            </f:facet>
                            <h:outputText value="#{item.isbn}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_tytul}"/>
                            </f:facet>
                            <h:outputText value="#{item.tytul}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_edycja}"/>
                            </f:facet>
                            <h:outputText value="#{item.edycja}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_rok}"/>
                            </f:facet>
                            <h:outputText value="#{item.rok}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_strony}"/>
                            </f:facet>
                            <h:outputText value="#{item.strony}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListKsiazkaTitle_opis}"/>
                            </f:facet>
                            <h:outputText value="#{item.opis}"/>
                        </p:column>
                        
                         
                        <f:facet name="footer" >
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{ksiazkaController.prepareCreate}" update=":KsiazkaCreateForm" oncomplete="PF('KsiazkaCreateDialog').show()" rendered="#{sessionScope.typeID == 1}"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":KsiazkaViewForm" oncomplete="PF('KsiazkaViewDialog').show()" disabled="#{empty ksiazkaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":KsiazkaEditForm" oncomplete="PF('KsiazkaEditDialog').show()" disabled="#{empty ksiazkaController.selected}" rendered="#{sessionScope.typeID == 1}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{ksiazkaController.destroy}" update=":growl,datalist" disabled="#{empty ksiazkaController.selected}" rendered="#{sessionScope.typeID == 1}"/>
                        </f:facet>
                        
                        
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
