<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="KsiazkaViewDlg" widgetVar="KsiazkaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewKsiazkaTitle}">
            <h:form id="KsiazkaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{ksiazkaController.selected != null}">
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_id}"/>
                        <h:outputText value="#{ksiazkaController.selected.id}" title="#{bundle.ViewKsiazkaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_isbn}"/>
                        <h:outputText value="#{ksiazkaController.selected.isbn}" title="#{bundle.ViewKsiazkaTitle_isbn}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_tytul}"/>
                        <h:outputText value="#{ksiazkaController.selected.tytul}" title="#{bundle.ViewKsiazkaTitle_tytul}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_edycja}"/>
                        <h:outputText value="#{ksiazkaController.selected.edycja}" title="#{bundle.ViewKsiazkaTitle_edycja}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_rok}"/>
                        <h:outputText value="#{ksiazkaController.selected.rok}" title="#{bundle.ViewKsiazkaTitle_rok}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_strony}"/>
                        <h:outputText value="#{ksiazkaController.selected.strony}" title="#{bundle.ViewKsiazkaTitle_strony}"/>
                        <h:outputText value="#{bundle.ViewKsiazkaLabel_opis}"/>
                        <h:outputText value="#{ksiazkaController.selected.opis}" title="#{bundle.ViewKsiazkaTitle_opis}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="KsiazkaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
