<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorksiazkaCreateDlg" widgetVar="AutorksiazkaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateAutorksiazkaTitle}">
            <h:form id="AutorksiazkaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorksiazkaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateAutorksiazkaLabel_autorID}" for="autorID" />
                        <p:selectOneMenu id="autorID" value="#{autorksiazkaController.selected.autorID}" required="true" requiredMessage="#{bundle.EditAutorksiazkaRequiredMessage_autorID}">
                            <f:selectItems value="#{autorController.itemsAvailableSelectOne}"
                                           var="autorIDItem"
                                           itemValue="#{autorIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.CreateAutorksiazkaLabel_ksiazkaID}" for="ksiazkaID" />
                        <p:selectOneMenu id="ksiazkaID" value="#{autorksiazkaController.selected.ksiazkaID}" required="true" requiredMessage="#{bundle.EditAutorksiazkaRequiredMessage_ksiazkaID}">
                            <f:selectItems value="#{ksiazkaController.itemsAvailableSelectOne}"
                                           var="ksiazkaIDItem"
                                           itemValue="#{ksiazkaIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{autorksiazkaController.create}" value="#{bundle.Save}" update="display,:AutorksiazkaListForm:datalist,:growl" oncomplete="handleSubmit(args,'AutorksiazkaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="AutorksiazkaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
