<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="AutorksiazkaViewDlg" widgetVar="AutorksiazkaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewAutorksiazkaTitle}">
            <h:form id="AutorksiazkaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{autorksiazkaController.selected != null}">
                        <h:outputText value="#{bundle.ViewAutorksiazkaLabel_id}"/>
                        <h:outputText value="#{autorksiazkaController.selected.id}" title="#{bundle.ViewAutorksiazkaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewAutorksiazkaLabel_autorID}"/>
                        <h:outputText value="#{autorksiazkaController.selected.autorID}" title="#{bundle.ViewAutorksiazkaTitle_autorID}"/>
                        <h:outputText value="#{bundle.ViewAutorksiazkaLabel_ksiazkaID}"/>
                        <h:outputText value="#{autorksiazkaController.selected.ksiazkaID}" title="#{bundle.ViewAutorksiazkaTitle_ksiazkaID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="AutorksiazkaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
