<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WypozyczenieEditDlg" widgetVar="WypozyczenieEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditWypozyczenieTitle}">
            <h:form id="WypozyczenieEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{wypozyczenieController.selected != null}">
                        <p:outputLabel value="#{bundle.EditWypozyczenieLabel_dataWypozyczenia}" for="dataWypozyczenia" />
                        <p:calendar id="dataWypozyczenia" pattern="MM/dd/yyyy" value="#{wypozyczenieController.selected.dataWypozyczenia}" title="#{bundle.EditWypozyczenieTitle_dataWypozyczenia}" required="true" requiredMessage="#{bundle.EditWypozyczenieRequiredMessage_dataWypozyczenia}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditWypozyczenieLabel_planowanaDataOddania}" for="planowanaDataOddania" />
                        <p:calendar id="planowanaDataOddania" pattern="MM/dd/yyyy" value="#{wypozyczenieController.selected.planowanaDataOddania}" title="#{bundle.EditWypozyczenieTitle_planowanaDataOddania}" required="true" requiredMessage="#{bundle.EditWypozyczenieRequiredMessage_planowanaDataOddania}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditWypozyczenieLabel_dataOddania}" for="dataOddania" />
                        <p:calendar id="dataOddania" pattern="MM/dd/yyyy" value="#{wypozyczenieController.selected.dataOddania}" title="#{bundle.EditWypozyczenieTitle_dataOddania}" required="true" requiredMessage="#{bundle.EditWypozyczenieRequiredMessage_dataOddania}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditWypozyczenieLabel_ksiazkaID}" for="ksiazkaID" />
                        <p:selectOneMenu id="ksiazkaID" value="#{wypozyczenieController.selected.ksiazkaID}" required="true" requiredMessage="#{bundle.EditWypozyczenieRequiredMessage_ksiazkaID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ksiazkaController.itemsAvailableSelectOne}"
                                           var="ksiazkaIDItem"
                                           itemValue="#{ksiazkaIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditWypozyczenieLabel_uzytkownikID}" for="uzytkownikID" />
                        <p:selectOneMenu id="uzytkownikID" value="#{wypozyczenieController.selected.uzytkownikID}" required="true" requiredMessage="#{bundle.EditWypozyczenieRequiredMessage_uzytkownikID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{uzytkownikController.itemsAvailableSelectOne}"
                                           var="uzytkownikIDItem"
                                           itemValue="#{uzytkownikIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{wypozyczenieController.update}" value="#{bundle.Save}" update="display,:WypozyczenieListForm:datalist,:growl" oncomplete="handleSubmit(args, 'WypozyczenieEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="WypozyczenieEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
