<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListWypozyczenieTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="WypozyczenieListForm">
                <p:panel header="#{bundle.ListWypozyczenieTitle}">
                    <p:dataTable id="datalist" value="#{wypozyczenieController.items}" var="item"
                                 selectionMode="single" selection="#{wypozyczenieController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_dataWypozyczenia}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataWypozyczenia}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_planowanaDataOddania}"/>
                            </f:facet>
                            <h:outputText value="#{item.planowanaDataOddania}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_dataOddania}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataOddania}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_ksiazkaID}"/>
                            </f:facet>
                            <h:outputText value="#{item.ksiazkaID.tytul}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListWypozyczenieTitle_uzytkownikID}"/>
                            </f:facet>
                            <h:outputText value="#{item.uzytkownikID.imie} #{item.uzytkownikID.nazwisko}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{wypozyczenieController.prepareCreate}" update=":WypozyczenieCreateForm" oncomplete="PF('WypozyczenieCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":WypozyczenieViewForm" oncomplete="PF('WypozyczenieViewDialog').show()" disabled="#{empty wypozyczenieController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":WypozyczenieEditForm" oncomplete="PF('WypozyczenieEditDialog').show()" disabled="#{empty wypozyczenieController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{wypozyczenieController.destroy}" update=":growl,datalist" disabled="#{empty wypozyczenieController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
