<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="WypozyczenieViewDlg" widgetVar="WypozyczenieViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewWypozyczenieTitle}">
            <h:form id="WypozyczenieViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{wypozyczenieController.selected != null}">
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_id}"/>
                        <h:outputText value="#{wypozyczenieController.selected.id}" title="#{bundle.ViewWypozyczenieTitle_id}"/>
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_dataWypozyczenia}"/>
                        <h:outputText value="#{wypozyczenieController.selected.dataWypozyczenia}" title="#{bundle.ViewWypozyczenieTitle_dataWypozyczenia}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_planowanaDataOddania}"/>
                        <h:outputText value="#{wypozyczenieController.selected.planowanaDataOddania}" title="#{bundle.ViewWypozyczenieTitle_planowanaDataOddania}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_dataOddania}"/>
                        <h:outputText value="#{wypozyczenieController.selected.dataOddania}" title="#{bundle.ViewWypozyczenieTitle_dataOddania}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_ksiazkaID}"/>
                        <h:outputText value="#{wypozyczenieController.selected.ksiazkaID}" title="#{bundle.ViewWypozyczenieTitle_ksiazkaID}"/>
                        <h:outputText value="#{bundle.ViewWypozyczenieLabel_uzytkownikID}"/>
                        <h:outputText value="#{wypozyczenieController.selected.uzytkownikID}" title="#{bundle.ViewWypozyczenieTitle_uzytkownikID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="WypozyczenieViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
