<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RezerwacjaEditDlg" widgetVar="RezerwacjaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditRezerwacjaTitle}">
            <h:form id="RezerwacjaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rezerwacjaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditRezerwacjaLabel_dataRezerwacji}" for="dataRezerwacji" />
                        <p:calendar id="dataRezerwacji" pattern="MM/dd/yyyy" value="#{rezerwacjaController.selected.dataRezerwacji}" title="#{bundle.EditRezerwacjaTitle_dataRezerwacji}" required="true" requiredMessage="#{bundle.EditRezerwacjaRequiredMessage_dataRezerwacji}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditRezerwacjaLabel_koniecRezerwacji}" for="koniecRezerwacji" />
                        <p:calendar id="koniecRezerwacji" pattern="MM/dd/yyyy" value="#{rezerwacjaController.selected.koniecRezerwacji}" title="#{bundle.EditRezerwacjaTitle_koniecRezerwacji}" required="true" requiredMessage="#{bundle.EditRezerwacjaRequiredMessage_koniecRezerwacji}" showOn="button"/>
                        <p:outputLabel value="#{bundle.EditRezerwacjaLabel_ksiazkaID}" for="ksiazkaID" />
                        <p:selectOneMenu id="ksiazkaID" value="#{rezerwacjaController.selected.ksiazkaID}" required="true" requiredMessage="#{bundle.EditRezerwacjaRequiredMessage_ksiazkaID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{ksiazkaController.itemsAvailableSelectOne}"
                                           var="ksiazkaIDItem"
                                           itemValue="#{ksiazkaIDItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditRezerwacjaLabel_uzytkownikID}" for="uzytkownikID" />
                        <p:selectOneMenu id="uzytkownikID" value="#{rezerwacjaController.selected.uzytkownikID}" required="true" requiredMessage="#{bundle.EditRezerwacjaRequiredMessage_uzytkownikID}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{uzytkownikController.itemsAvailableSelectOne}"
                                           var="uzytkownikIDItem"
                                           itemValue="#{uzytkownikIDItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{rezerwacjaController.update}" value="#{bundle.Save}" update="display,:RezerwacjaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'RezerwacjaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="RezerwacjaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
