<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListRezerwacjaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="RezerwacjaListForm">
                <p:panel header="#{bundle.ListRezerwacjaTitle}">
                    <p:dataTable id="datalist" value="#{rezerwacjaController.items}" var="item"
                                 selectionMode="single" selection="#{rezerwacjaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.id}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRezerwacjaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRezerwacjaTitle_dataRezerwacji}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataRezerwacji}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRezerwacjaTitle_koniecRezerwacji}"/>
                            </f:facet>
                            <h:outputText value="#{item.koniecRezerwacji}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRezerwacjaTitle_ksiazkaID}"/>
                            </f:facet>
                            <h:outputText value="#{item.ksiazkaID.tytul}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRezerwacjaTitle_uzytkownikID}"/>
                            </f:facet>
                            <h:outputText value="#{item.uzytkownikID.imie} #{item.uzytkownikID.nazwisko}"/>
                        </p:column>
                        <f:facet name="footer" >
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{rezerwacjaController.prepareCreate}" update=":RezerwacjaCreateForm" oncomplete="PF('RezerwacjaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":RezerwacjaViewForm" oncomplete="PF('RezerwacjaViewDialog').show()" disabled="#{empty rezerwacjaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":RezerwacjaEditForm" oncomplete="PF('RezerwacjaEditDialog').show()" disabled="#{empty rezerwacjaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{rezerwacjaController.destroy}" update=":growl,datalist" disabled="#{empty rezerwacjaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
