<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="RezerwacjaViewDlg" widgetVar="RezerwacjaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewRezerwacjaTitle}">
            <h:form id="RezerwacjaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{rezerwacjaController.selected != null}">
                        <h:outputText value="#{bundle.ViewRezerwacjaLabel_id}"/>
                        <h:outputText value="#{rezerwacjaController.selected.id}" title="#{bundle.ViewRezerwacjaTitle_id}"/>
                        <h:outputText value="#{bundle.ViewRezerwacjaLabel_dataRezerwacji}"/>
                        <h:outputText value="#{rezerwacjaController.selected.dataRezerwacji}" title="#{bundle.ViewRezerwacjaTitle_dataRezerwacji}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRezerwacjaLabel_koniecRezerwacji}"/>
                        <h:outputText value="#{rezerwacjaController.selected.koniecRezerwacji}" title="#{bundle.ViewRezerwacjaTitle_koniecRezerwacji}">
                            <f:convertDateTime pattern="MM/dd/yyyy" />
                        </h:outputText>
                        <h:outputText value="#{bundle.ViewRezerwacjaLabel_ksiazkaID}"/>
                        <h:outputText value="#{rezerwacjaController.selected.ksiazkaID}" title="#{bundle.ViewRezerwacjaTitle_ksiazkaID}"/>
                        <h:outputText value="#{bundle.ViewRezerwacjaLabel_uzytkownikID}"/>
                        <h:outputText value="#{rezerwacjaController.selected.uzytkownikID}" title="#{bundle.ViewRezerwacjaTitle_uzytkownikID}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="RezerwacjaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
